# Copyright (c) 2026 Codium Electronique
# SPDX-License-Identifier: Apache-2.0
#
# Codium NRP COD GW board configuration

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

config BOARD_COD_NRP_GW
	select USE_DT_CODE_PARTITION if BOARD_COD_NRP_GW_NRF9151_NS
